<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheets/style-room.css">
</head>
<body ng-controller="RoomCtrl">
<div id="master" style="height: 100%" ng-init="initialize()">
    <div id="canvasHolder">
        <canvas id="canvas"></canvas>
    </div>

    <!--<div id="messaging">-->
        <!--<ul id="messages">-->
            <!--<li ng-repeat="msg in messages">-->
                <!--{{msg}}-->
            <!--</li>-->
        <!--</ul>-->
        <!--<input id="m" autocomplete="off" ng-model="message" /><button ng-click="sendMessage()">Send</button>-->
    <!--</div>-->

    <div class='container'>
        <div class='chatbox'>
            <div class="chatbox__messages" ng-repeat="message in messages">
                <div class="chatbox__messages__user-message">
                    <div class="chatbox__messages__user-message--ind-message">
                        <p class="name">{{message.Name}}</p>
                        <br/>
                        <p class="message">{{message.Message}}</p>
                    </div>
                </div>
            </div>
            <form>
                <input id = "m" type="text" ng-model="message" autocomplete="off" placeholder="" ng-keyup="$event.keyCode == 13 && addMessage()"><!--put the sendMessage() thing here-->
            </form>
        </div>
    </div>
</div>
    </body>
    </html>
</div>
</body>
</html>